/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--background-image);
  background-color: var(--background-color, #FFF);
}

.header {
  display: flex;
  flex-direction: column;
  max-width: var(--card-width, 696px);
  margin: auto;
  margin-top: 102px;
  margin-bottom: 104px;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--themes-main-color, #000);
  background: var(--background-color, #FFF);
  font-family: var(--accent-font);
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-bottom: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-weight-regular, 400);
  color: var(--font-color, #000);
}

.header__full-name {
  padding-top: 19px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  text-transform: uppercase;
  color: var(--font-color, #000);
}

.header__theme-menu {
  margin-top: 22px;
  margin-left: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.theme-menu__button {
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: normal;
  color: var(--font-color, #000);
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  animation: menu_animation 0.5s ease-in-out alternate infinite;
}

.theme-menu__item:hover .theme-menu__button {
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--font-color);
  transition: none;
}

.theme-menu__button:focus:after {
  width: 100%;
  transition: width 300ms;
}

.theme-menu__button:focus {
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.main__card {
  outline: 2px solid var(--themes-main-color, #000);
  background: var(--background-color, #FFF);
  max-width: var(--card-width, 700px);
}

.card__title {
  color: var(--themes-main-color, #000);
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  padding: 5px 12px 5px 12px;
}

.card__image-group {
  position: relative;
  border-top: 2px solid var(--themes-main-color, #000);
  border-bottom: 2px solid var(--themes-main-color, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  text-shadow: -1px 0 var(--watermark-outline), 0 1px var(--watermark-outline),
    1px 0 var(--watermark-outline), 0 -1px var(--watermark-outline);
  mix-blend-mode: hard-light;
}

.card__text {
  border-top: 2px solid var(--themes-main-color, #000);
  padding: 25px 27px 25px 27px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text-item {
  color: var(--themes-main-color, #000);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.55px;
  /* line-height: 116.667%; */
}

.card__like-group {
  display: flex;
  gap: 4px;
  justify-content: end;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  border: none;
  background: none;
  margin-right: 4px;
  align-self: flex-end;
}

.like-icon {
  transform: scale(150%);
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon .heart-fireworks {
  opacity: 0;
}

.card__like-button {
  background: transparent;
  border: none;
  outline: 2px solid var(--themes-main-color, #000);
  padding: 9px 17px;
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 90%;
  min-width: 128px;
  min-height: 36px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 105px;
}

.footer__button {
  min-width: 335px;
  min-height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  border: none;
  outline: 2px solid var(--themes-main-color, #000);
  background-color: var(--background-color, #FFF);
}

.footer__button-icon {
  width: 21px;
  height: 21px;
}

.footer__button-text {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 90%;
  /* 12.6px */
}

.dialog {
  max-width: 357px;
  border: 2px solid var(--themes-main-color, #000);
  background-color: var(--background-color, #FFF);
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  text-transform: uppercase;
  padding: 31.5px 32.5px 30.5px 31.5px;
}

.dialog__text-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog__icon {
  max-width: 39px;
  max-height: 39px;
  flex-shrink: 0;
}

.dialog__text {
  max-width: 234px;
}

.dialog__button {
  border: none;
  outline: 2px solid var(--themes-main-color, #000);
  background: var(--background-color, #FFF);

  min-width: 293px;
  min-height: 38px;
  margin-top: 30px;
}

.dialog__button-text {
  font-family: inherit;
  font-size: 16px;
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.image-filter-1 {
  filter: sepia(80%);
}

.image-filter-2 {
  filter: hue-rotate(-90deg);
}

.image-filter-3 {
  filter: saturate(158%);
}

.image-filter-4 {
  filter: blur(0.2rem);
}

.image-filter-5 {
  filter: contrast(150%);
}

.image-filter-6 {
  filter: invert(0.7);
}

.image-filter-7 {
  filter: brightness(200%) opacity(0.8);
}

.button {
  cursor: pointer;
  position: relative;
}

.button::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: "";
  mix-blend-mode: difference;
  background-color: var(--hover-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
  transition: width 0.5s;
  mix-blend-mode: difference;
}

.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 2px var(--themes-main-color);
  transition: box-shadow 0.1s;
}

@supports ((text-stroke: 1px var(--watermark-outline)) or (-webkit-text-stroke: 1px var(--watermark-outline))) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--watermark-outline);
    text-stroke: 1px var(--watermark-outline);
    text-shadow: none;
  }
}

@media (width <=376px) {
  :root {
    --card-width: 99%;
  }

  .footer__button {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer__button-icon {
    width: 28px;
    height: 28px;
  }


  .footer__button {
    min-width: 306px;
    min-height: 80px;
  }
}