/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font-weingt-regular: 400;
  --font-weight-bold: 700;
  --font-color: #000;
  --watermark-outline: #FFF;
  --themes-main-color: #000;
  --background-color: #FFF;
  --gradient-main: #D3D3D3;
  --gradient-from: #E7E7E7;
  --gradient-to: #1A1A1A;
  --heart-border: #000;
  --hover-color: #FFF;
}

:root.theme-dark {
  --font-weight-regular: 465;
  --font-weight-bold: 785;
  --font-color: #00CC14;
  --watermark-outline: #000;
  --themes-main-color: #00CC14;
  --background-color: #000;
  --gradient-main: #000;
  --gradient-from: #007F0C;
  --gradient-to: #004306;
  --heart-border: #00CC14;
  --hover-color: #00CC14;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weingt-regular: 400;
    --font-weight-bold: 700;
    --font-color: #000;
    --watermark-outline: #000;
    --themes-main-color: #000;
    --background-color: #FFF;
    --gradient-main: #D3D3D3;
    --gradient-from: #E7E7E7;
    --gradient-to: #1A1A1A;
    --heart-border: #000;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-regular: 465;
    --font-weight-bold: 785;
    --font-color: #00CC14;
    --watermark-outline: #FFF;
    --themes-main-color: #00CC14;
    --background-color: #000;
    --gradient-main: #000;
    --gradient-from: #007F0C;
    --gradient-to: #004306;
    --heart-border: #00CC14;
  }
}