/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --font-color: #000;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --card-width: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  --watermark-outline: #FFF;
  --themes-main-color: #000;
  --background-color: #FFF;
  --background-image: repeating-linear-gradient(transparent,
      transparent,
      #D3D3D3 2px,
      #D3D3D3 4px),
    repeating-linear-gradient(90deg,
      transparent,
      transparent,
      #D3D3D3 2px,
      #D3D3D3 4px),
    linear-gradient(to bottom, #E7E7E7 0.01%, #1A1A1A);
  --heart-border: #000;
  --heart-color: #FF0000;
  --hover-color: #FFF;
}